@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.LoginPage {
  width: 100%;
  height: 100vh;
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.LoginPage .IllustrationContainer {
  width: 50%;
  height: 100%;
}

.LoginPage .LeftPanel {
  width: 30%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.LoginPage .LeftPanel .Introtext {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.LoginPage .LeftPanel .Introtext h2 {
  font-size: 24px;
}

.LoginPage .LeftPanel .LoginForm {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.LoginPage .LeftPanel .LoginForm .input-field {
  position: relative;
  width: 250px;
  height: 44px;
  line-height: 44px;
}

.LoginPage .LeftPanel .LoginForm label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: text;
}

.LoginPage .LeftPanel .LoginForm input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #111;
}

.LoginPage .LeftPanel .LoginForm input:invalid {
  outline: 0;
}

.LoginPage .LeftPanel .LoginForm input:focus,
.LoginPage .LeftPanel .LoginForm input:valid {
  border-color: #00dd22;
}

.LoginPage .LeftPanel .LoginForm input:focus ~ label,
.LoginPage .LeftPanel .LoginForm input:valid ~ label {
  font-size: 14px;
  top: -24px;
  color: #00dd22;
}
/*# sourceMappingURL=Login.css.map */