@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

#root {
  width: 100%;
  height: 100%;
}

#root .FeedPage {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#root .FeedPage header {
    width: 100%;
    height: 7vh;
    position: absolute;
    top: 0;
    background: #353535;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: white;
  }
  
  #root .FeedPage header .Links {
    width: 40%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  #root .FeedPage header .Links .Link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-family: 'Roboto Condensed';
  }
  
  #root .FeedPage header .Links .Link::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0%;
    border-bottom: 1px solid white;
  }
  
  #root .FeedPage header .Links .Link:hover:after {
    -webkit-animation: animateBorder 0.2s linear forwards;
            animation: animateBorder 0.2s linear forwards;
  }
  
  @-webkit-keyframes animateBorder {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  
  @keyframes animateBorder {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  
#root .FeedPage header .ProfileLinks {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root .FeedPage header .ProfileLinks .WrapperDiv {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .FeedPage header .ProfileLinks .WrapperDiv img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#root .FeedPage header .ProfileLinks .WrapperDiv img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#root .FeedPage .LeftPanel {
  width: 24%;
  height: 100%;
}

#root .FeedPage .LeftPanel .Profile {
  margin-top: 100px;
  width: 100%;
  height: 500px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: white;
}

#root .FeedPage .LeftPanel .Profile .ProfilePic {
  width: 100%;
  height: 200px;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .FeedPage .LeftPanel .Profile .ProfilePic img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#root .FeedPage .LeftPanel .Profile .Assets {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .FeedPage .LeftPanel .Profile .Assets .Coins, #root .FeedPage .LeftPanel .Profile .Assets .Level {
  width: 40%;
  height: 30px;
  background: #3bb2e2;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#root .FeedPage .LeftPanel .Profile .Assets .Level {
  background: red;
}

#root .FeedPage .LeftPanel .Profile .TasksAndRequests {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

#root .FeedPage .LeftPanel .Profile .TasksAndRequests .Tasks {
  width: 80%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  background: #7d97a5;
  cursor: pointer;
}

#root .FeedPage .LeftPanel .Profile .TasksAndRequests .Tasks:hover {
  color: #353535;
  background: #c4c4c4;
}

#root .FeedPage .LeftPanel .Profile .TasksAndRequests .Requests {
  width: 80%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  background: #7d97a5;
  cursor: pointer;
}

#root .FeedPage .LeftPanel .Profile .TasksAndRequests .Requests:hover {
  color: #353535;
  background: #c4c4c4;
}

#root .FeedPage .MainPanel {
  width: 50%;
  height: 100%;
}

#root .FeedPage .MainPanel .Feeds {
  width: 100%;
  margin-top: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 50px;
}

#root .FeedPage .MainPanel .Feeds .Feed {
  width: 90%;
  height: 600px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 4px;
  background: white;
}

#root .FeedPage .MainPanel .Feeds .Feed .User {
  width: 20%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .FeedPage .MainPanel .Feeds .Feed .User .dp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#root .FeedPage .MainPanel .Feeds .Feed .ThumbnailWrapper {
  width: 100%;
  height: 300px;
}

#root .FeedPage .MainPanel .Feeds .Feed .ThumbnailWrapper .Thumbnail {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    z-index: 100;
    background: #353535;
    
  }
  
#root .FeedPage .MainPanel .Feeds .Feed .Description {
  width: 90%;
  height: 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root .FeedPage .MainPanel .Feeds .Feed .Actions {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .FeedPage .MainPanel .Feeds .Feed .Actions .Pats {
  width: 100px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .FeedPage .MainPanel .Feeds .Feed .Actions .Pats img {
  width: 26px;
  height: 26px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

#root .FeedPage .MainPanel .Feeds .Feed .Actions .Pats img:hover {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  cursor: pointer;
}

#root .FeedPage .MainPanel .Feeds .Feed .Actions .ActionSet {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}

#root .FeedPage .MainPanel .Feeds .Feed .Actions .ActionSet .StreakCount, #root .FeedPage .MainPanel .Feeds .Feed .Actions .ActionSet .CommentButton, #root .FeedPage .MainPanel .Feeds .Feed .Actions .ActionSet .DailyUploads {
  width: 120px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  color: #353535;
}

#root .FeedPage .MainPanel .Feeds .Feed .Actions .ActionSet .StreakCount img, #root .FeedPage .MainPanel .Feeds .Feed .Actions .ActionSet .CommentButton img, #root .FeedPage .MainPanel .Feeds .Feed .Actions .ActionSet .DailyUploads img {
  width: 26px;
  height: 26px;
}

#root .FeedPage .MainPanel .Feeds .Feed .CommentsSection {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          display: none;
}

#root .FeedPage .MainPanel .Feeds .Feed .CommentsSection .Comments {
  margin-left: 2%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 90%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2%;
}

#root .FeedPage .MainPanel .Feeds .Feed .CommentsSection .Comments .Comment {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#root .FeedPage .MainPanel .Feeds .Feed .CommentsSection .Comments .Comment .UserName {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #353535;
}

#root .FeedPage .MainPanel .Feeds .Feed .CommentsSection .Comments .Comment .CommentContent {
  padding-left: 2%;
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#root .FeedPage .MainPanel .Feeds .Feed .CommentsSection .CommentBox {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#root .FeedPage .MainPanel .Feeds .Feed .CommentsSection .CommentBox .CommentInput {
  width: 90%;
  height: 70%;
}

#root .FeedPage .MainPanel .Feeds .Feed .CommentsSection .CommentBox .PostIcon {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#root .FeedPage .MainPanel .Feeds .Feed .CommentsSection .CommentBox .PostIcon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#root .FeedPage .RightPanel {
  width: 16%;
  height: 100%;
}
/*# sourceMappingURL=feeds.css.map */


#root .FeedPage .CommentButton {
  width: 120px;
  height: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .FeedPage .CommentButton img {
  width: 22px;
  height: 22px;
  -o-object-fit: contain;
     object-fit: contain;
}

