@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@mixin flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

@mixin Shadow {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
@mixin flexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

}
#root {
    width: 100%;
    height: 100%;
.FriendsPage{
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    padding-top: 5%;
    @include flexColumn();
    justify-content: space-around;
    header{
        width: 100%;
        height: 7vh;
        position: absolute;
        top: 0;
        background: #353535;
        @include flexRow();
        justify-content: space-around;
        color: white;
        .Links{
            width: 40%;
            height: 100%;
            @include flexRow();
            justify-content: space-around;
            .Link{
                text-decoration: none;
                color: white;
                cursor: pointer;
                font-family: 'Roboto Condensed';
                &::after{
                    content:"";
                    display: block;
                    margin:0 auto;
                    width: 0%;
                    border-bottom: 1px solid white;
                } 
                &:hover:after{        
                    animation:  animateBorder 0.2s linear forwards;
                    @keyframes animateBorder {
                        0%{
                            width: 0%;
                        }
                        100%{
                            width: 100%;
                        }
                    }
                }

        }
        
    }
    .ProfileLinks{
        width: 60%;
        height: 100%;
        @include flexColumn();
        .WrapperDiv{
            align-self:flex-end;
            width: 20%;
            height: 100%;
            @include flexRow();
            justify-content: space-around;
            img{
            width: 24px;
            height: 24px;
            cursor: pointer;
            transition: 0.2s;
            &:hover{
                transform: scale(1.05);
            }
        }
        }
        
    }

    }
    .ToggleChoice{
        width: 300px;
        height: 40px;
        @include flexRow();
        justify-content: space-around;
        cursor: pointer;
        transition: 0.2s;
        .choice{
 
            width: 50%;
            height: 100%;
            background: white;
            color: #353535;
            border: 1px solid #353535;
            @include flexColumn();
            transition: 0.2s;
           
        }
        .Activechoice{
            width: 50%;
            height: 100%;
            background: #353535;
            @include flexColumn();
            color: white;
            transition: 0.2s;
        }
    }
    .LeftPanel{
        width: 600px;
        height: 600px;
        .Friends{
            width: 100%;
            height:100%;
            padding:5%;
            @include flexColumn();
            justify-content: flex-start;
            gap: 10px;
            overflow-y:scroll;
            @include Shadow();
            h2{
                width: 100%;
                height: 100px;
                @include flexColumn();

            }
            .Friend{
                width: 100%;
                height: 60px;
                position: relative;
                background: white;
                @include flexRow();
                border-radius: 10px;
                border: 1px solid #353535;
                .dp{
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 1px solid #353535;

                }
                .FriendUname{
                    width: 60%;
                    height: 50px;
                    @include flexRow();
                }

                &:hover{
                    background: #353535;
                    color: white;
                    cursor: pointer;
                }
                
            }
        }
    }
    .Path{
        min-width: 100%;
        height: 100%;
        @include flexColumn();
        justify-content: space-around;
        position: absolute;
        background: #3535355b;
        backdrop-filter: blur(2px);
        z-index: 100;
        .wrap{
            width: 800px;
            height: 400px;
            background: white;
            @include flexRow();
            gap: 5%;
            
            position: relative;
            h2{
                position: absolute;
                top: 10px;
                font-size: 16px;
                color: #353535;
            }
            .closeButton{
                width: 20px;
                height: 20px;
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
        
        .Node{
            width: 150px;
            height: 150px;
            @include flexColumn();
            @include Shadow();
            border-radius: 10px;
            .text{
                width: 80px;
                height: 50px;
                @include flexRow();
            }

            .pic{
                width: 80px;
                height: 80px;
                object-fit: contain;
                border-radius: 50%;
        }
        }
    }
        
    }
    .Options{
        width: 70%;
        height: 150px;
        @include flexColumn();
        // justify-content: space-evenly;
        gap: 5%;
    .SearchBar{
        width: 70%;
        height: 60px;
        @include flexRow();
        justify-content: space-around;
        
        .FriendSearch{
            width: 90%;
            height: 50px;
            padding-left: 10px;
        }
        .SearchIcon{
            width: 30px;
            height: 30px;
            cursor: pointer;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    }
    .RightPanel{
        width: 30%;
        height: 90%;
        @include flexColumn();
        justify-content: flex-start;
        
        .SearchList{
            padding-top: 5%;
            width: 100%;
            height: 90%;
            padding: 5%;
            overflow-y: scroll;
            background: white;
            @include flexColumn();
            justify-content: flex-start;
            align-items: flex-start;
            @include Shadow();
            gap:10px;
            .ResultUser{
                width: 80%;
                height: 50px;
                @include flexRow();
                justify-content: space-around;
                border-radius: 10px;
                border: 1px solid #353535;
                .dp{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    pointer-events: none;
                }
                .Username{
                    width: 60%;
                    height: 50px;
                    @include flexRow();
                    pointer-events: none;
                }
                
                .AddFriendIcon{
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                    &:hover,&:focus {
                    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
                    }
                    }
            
            }
        }
    }
    
}
}